<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homestation</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<h1>homestation</h1>
<div>
    {{ range .Bulbs }}
    <div class="bulb-container">
        <form id="form-{{ .ID }}">
            {{ if eq .State "offline" }}
            <div id="toggle-button-{{ .ID }}">
                <button disabled>{{ .Name }}</button>
            </div>
            <div id="brightness-slider-{{ .ID }}">
                <input type="hidden" name="location" value="{{ .Location }}">
                <input class="slider" type="range" min="1" max="100" name="brightness"
                       value="{{ .Brightness }}" disabled>
            </div>
            {{ else }}
            <div id="toggle-button-{{ .ID }}">
                <button hx-post="/toggle"
                        hx-swap="outerHTML"
                        hx-target="#toggle-button-{{ .ID }}"
                        hx-vals='{"id": "{{ .ID }}", "name": "{{ .Name }}",
                                "location": "{{ .Location }}", "state": "{{ .State }}"}'
                        hx-trigger="click"
                        class="{{ if eq .State "on" }}pressed{{ end }}">
                {{ .Name }}
                </button>
            </div>
            <div id="brightness-slider-{{ .ID }}">
                <input type="hidden" name="location" value="{{ .Location }}">
                <input type="hidden" name="id" value="{{ .ID }}">
                <input class="slider"
                       type="range"
                       min="1"
                       max="100"
                       name="brightness"
                       value="{{ .Brightness }}"
                       hx-post="/brightness"
                       hx-swap="outerHTML"
                       hx-target="#brightness-slider-{{ .ID }}"
                       hx-trigger="input delay:300ms, change"
                       hx-include="[name='brightness'], [name='location'], [name='id']">
            </div>
            {{ end }}
        </form>
    </div>
    {{ end }}
</div>
</body>
</html>