<div id="toggle-button-{{ .ID }}">
<button
    hx-post="/toggle"
    hx-swap="outerHTML"
    hx-target="#toggle-button-{{ .ID }}"
    hx-vals='{"id": "{{ .ID }}", "name": "{{ .Name }}", "location": "{{ .Location }}", "state": "{{ .State }}"}'
    hx-trigger="click"
    class="{{ if eq .State "on" }}pressed{{ end }}">
    {{ .Name }}
</button>
</div>